@charset "UTF-8";
div{
    width: 100%;
    height: auto;
    border: 1px solid red;
/*  background: yellow; */
    background-image: linear-gradient(to right, yellow, white, pink);
    margin: 6px;
}

pre{
	border: 1px dotted blue;
/* 	background: skyBlue; */
	background-image: linear-gradient(skyBlue, white);
	margin: 10px;
	padding: 10px;
	font-size: 1.2em;
	height: auto;
	
}


form{
	border: 1px solid blue;
	margin: 30px;
	padding: 30px;
	width: 50%;
}

label {
  /*  인라인 요소에 크기 조절 
      display : inline(줄바꿈x, 크기조절x) block(줄바꿈o, 크기조절o)  inline-block > 줄바꿈을 하지 않으면서 크기조절을 할 수 있게 한다
  */
  
    display : inline-block;
	width: 100px;
	height: 40px;
}

.box div{
	margin: 10px;
	padding: 5px;
	border: 1px dotted orange;
	height: auto;
	background: #f3dab2;
}

.box input[type=button], .box button{
	margin: 5px;
	width: 60px;
	height: 40px;
	background: blue;
	color: white;
	border-radius: 20px;
}